<% if(session[:lan] == "en") %>
	<h2><%= link_to("Inventories", inventories_path) %>  » Edit Inventory</h2>
<% else %>
	<h2><%= link_to("Inventari", inventories_path) %>  » Ndrysho Inventarin</h2>
<% end %>
<% if @inventory.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @inventory.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(:inventory, :url => {:action => "update", :id => @inventory.id}) do |f| %>
		<fieldset class = "box tabular">
			<% if(session[:lan] == "en") %>
			<legend>Required</legend>
		<% else %>
			<legend>Te Nevojshme</legend>
		<% end %>
			<p>
				<%= f.label(userName(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.collection_select(:user_name, User.all, :id, :full_name, :prompt => "Select User")%>
			</p>
			<p>
				<%= f.label(roomName(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.collection_select(:room_name, Room.all, :name, :name, :prompt => "Select Room") %>
			</p>
			<p>
				<%= f.label(productName(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.collection_select(:product_name, Unit.all, :name, :name, :prompt => "Select Product") %>
			</p>
			<p>
				<%= f.label(serialNumber(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.text_field(:serial_number) %>
			</p>
			</fieldset>
		<fieldset class = "box tabular">
		<% if(session[:lan] == "en") %>
			<legend>Information</legend>
		<% else %>
			<legend>Informacionet</legend>
		<% end %>
			<p>
				<%= f.label(buyDate(session[:lan])) %>
				<%= f.date_field(:buy_date) %>
			</p>
			<p>
				<%= f.label(activationDate(session[:lan])) %>
				<%= f.date_field(:activation_date) %>
			</p>
			<p>
				<%= f.label(amortizationNorm(session[:lan])) %>
				<%= f.text_field(:amortization_norm) %>
			</p>
			<p>
				<%= f.label(amortization(session[:lan])) %>
				<%= f.text_field(:amortization) %>
			</p>
			<p>
				<%= f.label(netoValue(session[:lan])) %>
				<%= f.text_field(:neto_value) %>
			</p>
			<p>
				<%= f.label(timeOfUse(session[:lan])) %>
				<%= f.text_field(:time_of_use) %>
			</p>
			<p>
				<%= f.label(comment(session[:lan])) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
		<% if(session[:lan] = "en") %>
			<%= f.submit("Edit Inventory")%>
		<% else %>
			<%= f.submit("Ndrysho Inventarin")%>
		<% end %>
	<%end%>
</div>
<% content_for :header_tags do %>
<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>