<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="permbajtja">
		<h1>Inventory</h1>
		<h2>Listimi i te dhenave</h2>
		<%= search_form_for @search, url: search_inventories_path, method: :post do |f| %>
		 Listimi:
		  <%= f.condition_fields do |c| %>
		    <%= render "condition_fields", f: c %>
		  <% end %>
		  <div class="actions"><%= f.submit "Search" %></div>
		<% end %>
		<br>
		<br>
		<h1>Shfaqja e te dhenave</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Perdoruesi</th>
					<th>Login</th>
					<th>Lokacioni</th>
					<th>Emri i Produktit</th>
					<th>Nr. Serik</th>
					<th>Data E Blerjes</th>
					<th>Data e Aktivizimit</th>
					<th>Norma e Amortizimit</th>
					<th>Amortizimi</th>
					<th>Vlera Neto</th>
					<th>Koha e Shfrytezimit</th>
					<th>Komenti</th>
					<th style = "padding: 0px 44px;">Ndryshimet</th>
				</tr>
			</thead>
			<tbody>
				<% @inventories.each do |inventory| %>
					<tr>
						<td><%= inventory.user_name %></td>
						<td><%= inventory.user_login %></td>
						<td><%= inventory.room_name %></td>
						<td><%= inventory.product_name %></td>
						<td><%= inventory.serial_number %></td>
						<td><%= inventory.buy_date %></td>
						<td><%= inventory.activation_date %></td>
						<td><%= inventory.amortization_norm %></td>
						<td><%= inventory.amortization %></td>
						<td><%= inventory.neto_value %></td>
						<td><%= inventory.time_of_use %></td>
						<td><%= inventory.comment %></td>
						<td><p><%= button_to("Show", inventories_show_path(:id => inventory.id), :method => "get") %> <%= button_to("Edit", inventories_edit_path(:id => inventory.id), :method => "get") %>  <%= button_to("Delete", inventories_destroy_path(:id => inventory.id), :method => :delete) %></p>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
		<ul >
			<li><%= button_to("Shto nje Inventar", inventories_new_path, :method => "get") %></li>
			<li><%= button_to "Shko tek Njesit", units_path, :method => "get" %></li>
			<li><%= button_to "Shko tek Dhoma", rooms_path, :method => "get" %></li>
			<li><%= button_to "Shko tek Kategoria", categories_path, :method => "get" %></li>
		</ul>

</div>
</body>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>
</html>