<!DOCTYPE html>
<html>
	<head>
  <style>
    .black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 5px solid;
        border-color: #628DB6;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
</style>


    </head>
	<body >


	    <!-- <p>This is the main content. To display a lightbox click <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">here</a></p>
    <div id="light" class="white_content">This is the lightbox content. <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
    <div id="fade" class="black_overlay"></div> -->
		<%# @inventories.each do |inventory| %>
			<%#= inventory.llog_amort %>
		<%# end %>
		<% if(User.current.admin == true) %>
			<div class = "contextual">
				<%= link_to(l(:addInventory), inventories_new_path, :class => "icon icon-add") %>
			</div>
		<% end %>
		<h2><%= l(:inventoryHeader) %></h2>
		<div class = "tabs">
			<ul>
				<li><%= link_to(l(:goOverviews), overviews_path) %></li>
				<li><%= link_to(l(:goInventories), inventories_path, :onclick => "showTab('info', this.href); this.blur(); return false;", :id => "tab-info", :class => "selected") %></li>
					<% if User.current.admin == true %>
						<li><%= link_to(l(:goUnits), units_path) %></li>
						<li><%= link_to(l(:goCategories), categories_path) %></li>
						<li><%= link_to(l(:goRooms), rooms_path) %></li>
						<li><%= link_to(l(:goAmortNorms), amortnorms_path) %></li>
					<% end %>
				<li><%= link_to(l(:goHistories), histories_path) %></li>
			</ul>
		</div>
		<fieldset>
			<legend><%= l(:legend3) %></legend>
			<%= search_form_for @search, url: search_inventories_path, method: :post do |f| %>
				<%= f.condition_fields do |c| %>
		    		<%= render "condition_fields", f: c %>
		  		<% end %>
		  		<div class = "actions" style = "float: left">
		  			<%= f.submit(l(:apply)) %>
		  		</div>
		  		<div style = "padding: 3px 15px;">
		  			<%= link_to l(:clear), inventories_path, class: "icon icon-reload" %>
		  		</div>
			<% end %>
		</fieldset>
		<br>
		<div class = "autoscroll">
			<table class = "list">
				<thead>
					<tr>
						<th><%= link_to(l(:userName), user_path(User.current.id)) %></th>
						<th><%= l(:roomName) %></th>
						<th><%= l(:productName) %></th>
						<th><%= l(:productColor) %></th>
						<th><%= l(:productId) %></th>
						<th><%= l(:serialNumber) %></th>
						<th><%= l(:image) %></th>
						<th><%= l(:buyDate) %></th>
						<th><%= l(:activationDate) %></th>
						<th><%= l(:amortizationNorm) %></th>
						<th><%= l(:amortization) %></th>
						<th><%= l(:netoValue) %></th>
						<th><%= l(:timeOfUse) %></th>
						<th><%= l(:comment) %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				 
					<% if(User.current.admin == true) %>

						<% @inventories.each do |inventory| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
									<td>
										<% @users.each do |user| %>
											<% if(inventory.user_login == user.login) %>
												<%= link_to("#{inventory.user_name}", user_path(user.id)) %>
											<% end %>
										<% end %>
									</td>
									<td><%= inventory.room_name %></td>
									<td><%= inventory.product_name %></td>
									<td><%= inventory.color %></td>
									<td><%= inventory.product_id %></td>
									<td><%= inventory.serial_number %></td>
									<% if inventory.image1.blank? && inventory.image2.blank? %>
									<td><%= %></td>
									<% elsif inventory.image1.blank? && inventory.image2.blank? == false %>
									<td><%#= link_to((javascript:PopupPic(inventory.image2.url(:thumb))) %>
									<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='block';document.getElementById('<%= inventory.image2.url %>s').style.display='block'"><%= image_tag(inventory.image2.url(:thumb)) %></a>
    <div id="<%= inventory.image2.url %>" class="white_content"><img src="<%= inventory.image2.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image2.url %>s" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'"></div>
										</td>
											


									<% elsif inventory.image1.blank? == false && inventory.image2.blank? %>
									<td><%#= image_tag(inventory.image1.url(:thumb)) %>
									<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='block';document.getElementById('<%= inventory.image1.url %>a').style.display='block'"><%= image_tag(inventory.image1.url(:thumb)) %></a>
    <div id="<%= inventory.image1.url %>" class="white_content"><img src="<%= inventory.image1.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image1.url %>a" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'"></div>
										<!-- <a href="javascript:PopupPic('<%#= inventory.image1.url %>')"><%#= image_tag(inventory.image1.url(:thumb)) %></a> --></td>
									<%else%>
										<td><%#= image_tag(inventory.image2.url(:thumb)) %>
										<!-- <a href="javascript:PopupPic('<%#= inventory.image2.url %>')"><%#= image_tag(inventory.image2.url(:thumb)) %></a> -->
										<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='block';document.getElementById('<%= inventory.image1.url %>a').style.display='block'"><%= image_tag(inventory.image1.url(:thumb)) %></a>
    <div id="<%= inventory.image1.url %>" class="white_content"><img src="<%= inventory.image1.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image1.url %>a" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'"></div>
										,
										<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='block';document.getElementById('<%= inventory.image2.url %>s').style.display='block'"><%= image_tag(inventory.image2.url(:thumb)) %></a>
    <div id="<%= inventory.image2.url %>" class="white_content"><img src="<%= inventory.image2.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image2.url %>s" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'"></div>
										 <%#= image_tag(inventory.image1.url(:thumb)) %>
										<!-- <a href="javascript:PopupPic('<%#= inventory.image1.url %>')"><%#= image_tag(inventory.image1.url(:thumb)) %></a> --></td>
									<%end%>
									<td><%= inventory.buy_date %></td>
									<td><%= inventory.activation_date %></td>
									<td><%= inventory.amortization_norm + " %" %></td>
									<td><%= inventory.amortization.to_s + " €" %></td>
									<td><%= inventory.neto_value + " €" %></td>
									<td><%= inventory.time_of_use.to_s + " " + l(:days) %></td>
									<td><%= inventory.comment %></td>
									<td class = "buttons">
										<%= link_to(l(:edit), inventories_edit_path(:id => inventory.id), :class => "icon icon-edit") %>  
										<%= link_to(l(:delete), inventories_destroy_path(:id => inventory.id), :method => :delete, :class => "icon icon-del", data: { confirm: l(:dataConfirm) }) %>
									</td>

								</tr>
						<%end%>
						</tbody>
						</table>
							<%= will_paginate @posts %>
						<% else %>
						<% @inventories.each do |inventory| %>
							<% @users.each do |user| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%>">
									<% if(inventory.user_login == User.current.login) %>
										<td><%= link_to("#{inventory.user_name}", user_path(User.current.id)) %>
										</td>
										<td><%= inventory.room_name %></td>
										<td><%= inventory.product_name %></td>
										<td><%= inventory.color %></td>
										<td><%= inventory.product_id %></td>
										<td><%= inventory.serial_number %></td>
										<% if inventory.image1.blank? && inventory.image2.blank? %>
									<td><%= %></td>
									<% elsif inventory.image1.blank? && inventory.image2.blank? == false %>
									<td><%#= link_to((javascript:PopupPic(inventory.image2.url(:thumb))) %>
									<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='block';document.getElementById('<%= inventory.image2.url %>s').style.display='block'"><%= image_tag(inventory.image2.url(:thumb)) %></a>
    <div id="<%= inventory.image2.url %>" class="white_content"><img src="<%= inventory.image2.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image2.url %>s" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'"></div>
										</td>
											


									<% elsif inventory.image1.blank? == false && inventory.image2.blank? %>
									<td><%#= image_tag(inventory.image1.url(:thumb)) %>
									<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='block';document.getElementById('<%= inventory.image1.url %>a').style.display='block'"><%= image_tag(inventory.image1.url(:thumb)) %></a>
    <div id="<%= inventory.image1.url %>" class="white_content"><img src="<%= inventory.image1.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image1.url %>a" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'"></div>
										<!-- <a href="javascript:PopupPic('<%#= inventory.image1.url %>')"><%#= image_tag(inventory.image1.url(:thumb)) %></a> --></td>
									<%else%>
										<td><%#= image_tag(inventory.image2.url(:thumb)) %>
										<!-- <a href="javascript:PopupPic('<%#= inventory.image2.url %>')"><%#= image_tag(inventory.image2.url(:thumb)) %></a> -->
										<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='block';document.getElementById('<%= inventory.image1.url %>a').style.display='block'"><%= image_tag(inventory.image1.url(:thumb)) %></a>
    <div id="<%= inventory.image1.url %>" class="white_content"><img src="<%= inventory.image1.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image1.url %>a" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image1.url %>').style.display='none';document.getElementById('<%= inventory.image1.url %>a').style.display='none'"></div>
										,
										<a href = "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='block';document.getElementById('<%= inventory.image2.url %>s').style.display='block'"><%= image_tag(inventory.image2.url(:thumb)) %></a>
    <div id="<%= inventory.image2.url %>" class="white_content"><img src="<%= inventory.image2.url %>" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'" style= "width: 100%; height: 98%;" /></div>
    <div id="<%= inventory.image2.url %>s" class="black_overlay" "javascript:void(0)" onclick = "document.getElementById('<%= inventory.image2.url %>').style.display='none';document.getElementById('<%= inventory.image2.url %>s').style.display='none'"></div>
										 <%#= image_tag(inventory.image1.url(:thumb)) %>
										<!-- <a href="javascript:PopupPic('<%#= inventory.image1.url %>')"><%#= image_tag(inventory.image1.url(:thumb)) %></a> --></td>
									<%end%>
										<td><%= inventory.buy_date %></td>
										<td><%= inventory.activation_date %></td>
										<td><%= inventory.amortization_norm + " %" %></td>
										<td><%= inventory.amortization + " €" %></td>
										<td><%= inventory.neto_value + " €" %></td>
										<td><%= inventory.time_of_use.to_s + " " + l(:days) %></td>
										<td><%= inventory.comment %></td>
									<% end %>
									<% break %>
								</tr>
							<% end%>
						<% end %>
					<%end%>
				</tbody>
			</table>
		</div>
		<% content_for :header_tags do %>
    		<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
		<% end %>
	</body>
</html>
