<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div style = "text-align: right; font-size: 0.9em;">
			<%= link_to "English", "#{inventories_path}?lan=en" %> |
			<%= link_to "Albanian", "#{inventories_path}?lan=al" %>
		</div>
		<% if(User.current.admin == true) %>
			<div class = "contextual">
				<%= link_to(addInventory(session[:lan]), inventories_new_path, :class => "icon icon-add") %>
			</div>
		<% end %>
		<h2><%= inventoryHeader(session[:lan]) %></h2>
		<fieldset>
			<legend><%= inventoryLegend3(session[:lan]) %></legend>
			<% if(User.current.admin == true) %>
				<div class = "contextual">
					<%= link_to(goCategories(session[:lan]), categories_path) %> | 
					<%= link_to(goRooms(session[:lan]), rooms_path) %> | 
					<%= link_to(goUnits(session[:lan]), units_path) %>
				</div>
			<% end %>
			<%= search_form_for @search, url: search_inventories_path, method: :post do |f| %>
				<%= f.condition_fields do |c| %>
		    		<%= render "condition_fields", f: c %>
		  		<% end %>
		  		<div class = "actions" style = "float: left">
		  			<%= f.submit(inventoryApply(session[:lan])) %>
		  		</div>
		  		<div style = "padding: 3px 15px;">
		  			<%= link_to inventoryClear(session[:lan]), inventories_path, class: "icon icon-reload" %>
		  		</div>
			<% end %>
		</fieldset>
		<br>
		<div class = "autoscroll">
			<table class = "list">
				<thead>
					<tr>
						<th><%= link_to(userName(session[:lan]), user_path(User.current.id)) %></th>
						<th><%= userLogin(session[:lan]) %></th>
						<th><%= roomName(session[:lan]) %></th>
						<th><%= productName(session[:lan]) %></th>
						<th><%= serialNumber(session[:lan]) %></th>
						<th><%= buyDate(session[:lan]) %></th>
						<th><%= activationDate(session[:lan]) %></th>
						<th><%= amortizationNorm(session[:lan]) %></th>
						<th><%= amortization(session[:lan]) %></th>
						<th><%= netoValue(session[:lan]) %></th>
						<th><%= timeOfUse(session[:lan]) %></th>
						<th><%= comment(session[:lan]) %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @inventories.each do |inventory| %>
						<% if(User.current.admin == true) %>
							<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
								<td>
									<% @users.each do |user| %>
										<% if(inventory.user_login == user.login) %>
											<%= link_to("#{inventory.user_name}", user_path(user.id)) %>
										<% end %>
									<% end %>
								</td>
								<td><%= inventory.user_login %></td>
								<td><%= inventory.room_name %></td>
								<td><%= inventory.product_name %></td>
								<td><%= inventory.serial_number %></td>
								<td><%= inventory.buy_date %></td>
								<td><%= inventory.activation_date %></td>
								<td><%= inventory.amortization_norm %></td>
								<td><%= inventory.amortization %></td>
								<td><%= inventory.neto_value %></td>
								<td><%= inventory.time_of_use %></td>
								<td><%= inventory.comment %></td>
								<td class = "buttons">
									<%= link_to(editInventory(session[:lan]), inventories_edit_path(:id => inventory.id), :class => "icon icon-edit") %>  
									<%= link_to(deleteInventory(session[:lan]), inventories_destroy_path(:id => inventory.id), :method => :delete, :class => "icon icon-del", data: dataConfirm(session[:lan])) %>
								</td>
							</tr>
						<% else %>
							<% @users.each do |user| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%>">
									<% if(inventory.user_login == User.current.login) %>
										<td><%= link_to("#{inventory.user_name}", user_path(User.current.id)) %>
										</td>
										<td><%= inventory.user_login %></td>
										<td><%= inventory.room_name %></td>
										<td><%= inventory.product_name %></td>
										<td><%= inventory.serial_number %></td>
										<td><%= inventory.buy_date %></td>
										<td><%= inventory.activation_date %></td>
										<td><%= inventory.amortization_norm %></td>
										<td><%= inventory.amortization %></td>
										<td><%= inventory.neto_value %></td>
										<td><%= inventory.time_of_use %></td>
										<td><%= inventory.comment %></td>
									<% end %>
									<% break %>
								</tr>
							<% end%>
						<% end %>
					<%end%>
				</tbody>
			</table>
			<%= will_paginate @posts %>
		</div>
		<% content_for :header_tags do %>
    		<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
		<% end %>
	</body>
</html>