<!DOCTYPE html>
<html>
	<body>
		<% if(User.current.admin == true) %>
			<div class = "contextual">
				<%= link_to(l(:addInventory), inventories_new_path, :class => "icon icon-add") %>
			</div>
		<% end %>
		<h2><%= l(:inventoryHeader) %></h2>
		<div class = "tabs">
			<ul>
				<li><%= link_to(l(:goOverviews), overviews_path) %></li>
				<li><%= link_to(l(:goInventories), inventories_path, :onclick => "showTab('info', this.href); this.blur(); return false;", :id => "tab-info", :class => "selected") %></li>
					<% if User.current.admin == true %>
						<li><%= link_to(l(:goUnits), units_path) %></li>
						<li><%= link_to(l(:goCategories), categories_path) %></li>
						<li><%= link_to(l(:goRooms), rooms_path) %></li>
						<li><%= link_to(l(:goAmortNorms), amortnorms_path) %></li>
					<% end %>
				<li><%= link_to(l(:goHistories), histories_path) %></li>
			</ul>
		</div>
		<fieldset>
			<legend><%= l(:legend3) %></legend>
			<%= search_form_for @search, url: search_inventories_path, method: :post do |f| %>
				<%= f.condition_fields do |c| %>
		    		<%= render "condition_fields", f: c %>
		  		<% end %>
		  		<div class = "actions" style = "float: left">
		  			<%= f.submit(l(:apply)) %>
		  		</div>
		  		<div style = "padding: 3px 15px;">
		  			<%= link_to l(:clear), inventories_path, class: "icon icon-reload" %>
		  		</div>
			<% end %>
		</fieldset>
		<br>
		<div class = "autoscroll">
			<table class = "list">
				<thead>
					<tr>
						<th><%= link_to(l(:userName), user_path(User.current.id)) %></th>
						<th><%= l(:roomName) %></th>
						<th><%= l(:productName) %></th>
						<th><%= l(:productColor) %></th>
						<th><%= l(:productId) %></th>
						<th><%= l(:serialNumber) %></th>
						<th><%= "Image" %></th>
						<th><%= l(:buyDate) %></th>
						<th><%= l(:activationDate) %></th>
						<th><%= l(:amortizationNorm) %></th>
						<th><%= l(:amortization) %></th>
						<th><%= l(:netoValue) %></th>
						<th><%= l(:timeOfUse) %></th>
						<th><%= l(:comment) %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% if(User.current.admin == true) %>
						<% @inventories.each do |inventory| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
									<td>
										<% @users.each do |user| %>
											<% if(inventory.user_login == user.login) %>
												<%= link_to("#{inventory.user_name}", user_path(user.id)) %>
											<% end %>
										<% end %>
									</td>
									<td><%= inventory.room_name %></td>
									<td><%= inventory.product_name %></td>
									<td><%= inventory.color %></td>
									<td><%= inventory.product_id %></td>
									<td><%= inventory.serial_number %></td>
									<td><%= image_tag(inventory.image1.url(:thumb)) %>, <%= image_tag(inventory.image2.url(:thumb)) %></td>
									<td><%= inventory.buy_date %></td>
									<td><%= inventory.activation_date %></td>
									<td><%= inventory.amortization_norm + " %" %></td>
									<td><%= inventory.amortization + " €" %></td>
									<td><%= inventory.neto_value + " €" %></td>
									<td><%= inventory.days.to_s + " " + l(:days) %></td>
									<td><%= inventory.comment %></td>
									<td class = "buttons">
										<%= link_to(l(:edit), inventories_edit_path(:id => inventory.id), :class => "icon icon-edit") %>  
										<%= link_to(l(:delete), inventories_destroy_path(:id => inventory.id), :method => :delete, :class => "icon icon-del", data: { confirm: l(:dataConfirm) }) %>
									</td>

								</tr>
						<%end%>
						</tbody>
						</table>
							<%= will_paginate @posts %>
						<% else %>
						<% @inventories.each do |inventory| %>
							<% @users.each do |user| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%>">
									<% if(inventory.user_login == User.current.login) %>
										<td><%= link_to("#{inventory.user_name}", user_path(User.current.id)) %>
										</td>
										<td><%= inventory.room_name %></td>
										<td><%= inventory.product_name %></td>
										<td><%= inventory.color %></td>
										<td><%= inventory.product_id %></td>
										<td><%= inventory.serial_number %></td>
										<td><%= image_tag(inventory.image1.url(:thumb)) %>, <%= image_tag(inventory.image2.url(:thumb)) %></td>
										<td><%= inventory.buy_date %></td>
										<td><%= inventory.activation_date %></td>
										<td><%= inventory.amortization_norm + " %" %></td>
										<td><%= inventory.amortization + " €" %></td>
										<td><%= inventory.neto_value + " €" %></td>
										<td><%= inventory.days.to_s + " " + l(:days) %></td>
										<td><%= inventory.comment %></td>
									<% end %>
									<% break %>
								</tr>
							<% end%>
						<% end %>
					<%end%>
				</tbody>
			</table>
		</div>
		<% content_for :header_tags do %>
    		<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
		<% end %>
	</body>
</html>