<h2>Inventory</h2>
<table border="1">
	<thead>
		<tr>
			<th>ID Inventarit</th>
			<th>ID Stokut</th>
			<th>Perdoruesi</th>
			<th>Lokacioni</th>
			<th>Koha e Shfrytezimit</th>
			<th>Ndryshimet</th>
			
		</tr>
	</thead>
	<tbody>
		<% @inventories.each do |inventory| %>
			<tr>
				<td><%= inventory.id %></td>
				<td><%= inventory.stock.id %></td>
				<td><%= "#{inventory.user.firstname} #{inventory.user.lastname}" %></td>
				<td><%= inventory.room.name %></td>
				<td><%= inventory.time_of_use %></td>
				<td><%= link_to("Show", inventories_show_path(:id => inventory.id)) %> | <%= link_to("Edit", inventories_edit_path(:id => inventory.id)) %> | <%= link_to("Delete", inventories_destroy_path(:id => inventory.id), :method => :delete) %>
				</td>
			</tr>
		<%end%>
	</tbody>
</table>
<p><%= link_to("Shto Inventar", :controller => "inventories", :action => "new") %></p>