
<div class = "permbajtja">
	<h1>New Inventory</h1>
	<%= form_for(@inventory) do |f| %>
		<% if @inventory.errors.any? %>
			<ul>
				<% @inventory.errors.full_messages.each do |message| %>
					<li><%= message %></li><br>
				<% end %>
			</ul>
		<% end %>

		<p><%= f.collection_select(:user_name, User.all, :id, :full_name, :prompt => "Select User")%></p>
		<p><%= f.collection_select(:room_name, Room.all, :name, :name, :prompt => "Select Room") %></p>
		<p><%= f.collection_select(:product_name, Unit.all, :name, :name, :prompt => "Select Product") %></p>
		<p><%= f.text_field(:serial_number, :placeholder => "Serial Number") %></p>
		<p><b><%= f.label("Buy Date: ")%></b></p>
		<p><%= f.date_select(:buy_date) %></p>
		<p><b><%= f.label("Activation Date: ")%></b></p>
		<p><%= f.date_select(:activation_date) %></p>
		<p><%= f.text_field(:amortization_norm, :placeholder => "Amortization Norm") %></p>
		<p><%= f.text_field(:amortization, :placeholder => "Amortization") %></p>
		<p><%= f.text_field(:neto_value, :placeholder => "Neto Value") %></p>
		<p><%= f.text_field(:time_of_use, :placeholder => "Time Of Use") %></p>
		<p><%= f.text_area(:comment, :placeholder => "Comment") %></p>
		<p><%= f.submit("Krijo Inventarin")%></p>
	<%end%>
	<p><%= button_to("Kthehu tek Index", inventories_path, :method => "get")%></p>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>