<h1>New Inventory</h1>
<%= form_for(@inventory) do |f| %>
	<p><%= f.text_field(:stock_id, :placeholder => "Stoku")%></p>
	<p><%= f.text_field(:room_id, :placeholder => "Lokacioni") %></p>
	<p><%= f.text_field(:user_id, :placeholder => "Perdoruesi") %></p>
	<p><%= f.text_field(:time_of_use, :placeholder => "Koha e shfrytezimit") %></p>
	<p><%= f.submit("Krijo Inventarin")%></p>
<%end%>
<p><%= link_to("Kthehu tek Index", :controller => "inventories", :action => "index")%></p>