<style type="text/css">
	.splitcontentleft fieldset input {
		width: 90%;
	}
	.splitcontentleft fieldset select {
		width: 90%;
	}
	.splitcontentleft textarea {
		width: 90%;
		height: 70px;
	}
</style>
<h2><%= link_to(l(:inventoryHeader), inventories_path) + " " + l(:inventoryPathNew) %></h2>
<% if @inventory.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @inventory.errors.full_messages.each do |message| %>
				<li><%= message.capitalize %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@inventory, html: { multipart: true }) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= l(:legend1) %></legend>
			<p>
				<%= f.label(l(:userName)) %>
				<span class = "required">*</span>
				<%= f.collection_select(:user_name, User.where.not(:id => 4), :id, :full_name, :prompt => "Select User")%>
			</p>
			<p>
				<%= f.label(l(:roomName)) %>
				<span class = "required">*</span>
				<%= f.collection_select(:room_name, Room.all, :name, :name, :prompt => "Select Room") %>
			</p>
			<p>
				<%= f.label(l(:productName)) %>
				<span class = "required">*</span>
				<%= f.collection_select(:product_name, Unit.all, :id, :name, :prompt => "Select Product") %>
			</p>
			<p>
				<%= f.label(l(:serialNumber)) %>
				<span class = "required">*</span>
				<%= f.text_field(:serial_number) %>
				<em class = "info" style = "margin-left: 10px;"><%= l(:em1) %></em>
			</p>
			<p>
				<%= f.label(l(:activationDate)) %>
				<span class = "required">*</span>
				<%= f.date_field(:activation_date) %>
			</p>
			<p>
				<%= f.label(l(:netoValue)) %>
				<span class = "required">*</span>
				<%= f.text_field(:neto_value) %>
			</p>
		</fieldset>
		<fieldset class = "box tabular">
			<legend><%= l(:legend2) %></legend>
			<p>
				<%= f.label(:image1) %>
				<%= f.file_field(:image1) %>
			</p>
			<p>
				<%= f.label(:image2) %>
				<%= f.file_field(:image2) %>
			</p>
			<p>
				<%= f.label(l(:buyDate)) %>
				<%= f.date_field(:buy_date) %>
			</p>
			<p>
				<%= f.label(l(:productColor)) %>
				<%= f.text_field(:color) %>
			</p>
			<p>
				<%= f.label(l(:comment)) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
			<%= f.submit(l(:newSubmit))%>
	<%end%>
</div>