<p><b>Inventari ID :</b><%= @inventory.id %></p>
<p><b>Stock ID :</b><%= @inventory.stock.id %></p>
<p><b>Perdoruesi :</b><%=  "#{@inventory.user.firstname} #{@inventory.user.lastname}" %></p>
<p><b>Koha e shfrytezimit :</b><%= @inventory.time_of_use %></p>
<p><b>Lokacioni :</b><%= @inventory.room.name %></p>
<p><%= link_to("Kthehu tek Index", :controller => "inventories", :action => "index") %></p>