<!DOCTYPE html>
<html>
	<body>
		<h2><h2><%= l(:overviewHeader) %></h2></h2>
			<div class = "tabs">
				<ul>
				<li><%= link_to(l(:goOverviews), overviews_path, :onclick => "showTab('info', this.href); this.blur(); return false;", :id => "tab-info", :class => "selected") %></li>
				<li><%= link_to(l(:goInventories), inventories_path) %></li>
				<li><%= link_to(l(:goUnits), units_path) %></li>
				<li><%= link_to(l(:goCategories), categories_path) %></li>
				<li><%= link_to(l(:goRooms), rooms_path) %></li>
				<li><%= link_to(l(:goAmortNorms), amortnorms_path) %></li>
				<li><%= link_to(l(:goHistories), histories_path)%></li>
			</ul>
			<div class = "tabs-buttons"></div>
		</div>
			<br>
			<div class="splitcontentleft">
			<div class="issues box">
			<div class = "autoscroll">
			<table class = "list">
			<h3><%= l(:overviewHeaderleft) %></h3>
				<thead>
					<tr>
						<th><%= link_to(l(:userName), user_path(User.current.id)) %></th>
						<th><%= l(:roomName) %></th>
						<th><%= l(:productName) %></th>
						<th><%= l(:serialNumber) %></th>
						<th><%= l(:timeOfUse) %></th>
						
					</tr>
				</thead>
				<tbody>
					<% if(User.current.admin == true) %>
						<% @inventories.each do |inventory| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
									<td>
										<% @users.each do |user| %>
											<% if(inventory.user_login == user.login) %>
												<%= link_to("#{inventory.user_name}", user_path(user.id)) %>
											<% end %>
										<% end %>
									</td>
									
									<td><%= inventory.room_name %></td>
									<td><%= inventory.product_name %></td>
									<td><%= inventory.serial_number %></td>
									<td><%= inventory.days.to_s + " " + l(:days) %></td>
									</tr>
						<%end%>
						</tbody>
						</table>
							
						<% else %>
						<% @inventories.each do |inventory| %>
							<% @users.each do |user| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%>">
									<% if(inventory.user_login == User.current.login) %>
										<td><%= link_to("#{inventory.user_name}", user_path(User.current.id)) %>
										</td>
										<td><%= inventory.room_name %></td>
										<td><%= inventory.product_name %></td>
										<td><%= inventory.serial_number %></td>
										<td><%= inventory.days.to_s + " " + l(:days) %></td>
										
									<% end %>
									<% break %>
								</tr>
							<% end%>
						<% end %>
					<%end%>
				</tbody>
			</table>
		</div>
		</div>
		</div>

			<div class="splitcontentright">
			<div class="issues box">
			<div class = "autoscroll">
			<table class = "list">
			<h3><%= l(:overviewHeaderright) %></h3>
			<thead>
				<tr>
					<th>ID</th>
					<th><%= l(:categoryName) %></th>
					<th><%= l(:categoryComment) %></th>
					<th><%= l(:categoryPrefixid) %></th>
					
				</tr>
			</thead>
			<tbody>
				<% @categories.each do |category| %>
					<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
						<td><%= category.id %></td>
						<td><%= category.name %></td>
						<td><%= category.comment %></td>
						<td><%= category.prefixid %></td>
						</td>	
					</tr>
				<% end %>
			</tbody>
		</table>
		</div>
		</div>
		</div>

		<% content_for :sidebar do %>
  			<h3><%= l(:reportsHeader) %></h3>
  			<ul>
   				 <li><%= link_to(l(:goInventories), inventories_path) %></li>
                <li><%= link_to(l(:goCategories), categories_path) %></li>
				<li><%= link_to(l(:goRooms), rooms_path) %></li>
   				 <li><%= link_to(l(:goHistories), histories_path)%></li>
			</ul>
		<% end %>

		<% content_for :header_tags do %>
    		<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
		<% end %>

	</body>
</html>