<table border = "1">
<h1>Listimi i te dhenave</h1>

<%= search_form_for @search, url: search_stocks_path, method: :post do |f| %>
 Listimi:
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%#= link_to_add_fields "Add Conditions", f, :condition %></p>
  <div class="field">
    Sortimi:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<h1>Shfaqja e te dhenave</h1>
	<thead>
		<tr>
			<th>ID</th>
			<th>Njesia</th>
			<th>Kategoria</th>
			<th>Numri Serik</th>
			<th>Emri i Produktit</th>
			<th>Data e Blerjes</th>
			<th>Norma e Amortizimit</th>
			<th>Amortizimi</th>
			<th>Vlera Neto</th>
			<th>Ngjyra</th>
			<th>Sasia</th>
			<th>Komenti</th>
			<th>Operacionet</th>
		</tr>
	</thead>
	<tbody>
		<% @stocks.each do |stock| %>
			<tr>
				<td><%= stock.id %></td>
				<td><%= stock.unit_id %></td>
				<td><%= stock.category.name %></td>
				<td><%= stock.serial_nr %></td>
				<td><%= stock.product_name %></td>
				<td><%= stock.buy_date %></td>
				<td><%= stock.norma_amortizimit %></td>
				<td><%= stock.amortizimi %></td>
				<td><%= stock.neto_value %></td>
				<td><%= stock.color %></td>
				<td><%= stock.quantity %></td>
				<td><%= stock.comment %></td>
				<td><%= link_to("Show", stocks_show_path(:id => stock.id)) %> | <%= link_to("Edit", stocks_edit_path(:id => stock.id)) %> | <%= link_to("Delete", stocks_destroy_path(:id => stock.id), :method => :delete) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<p><%= link_to("Shto nje Stock", :controller => "stocks", :action => "new") %></p>
<p><%= link_to("Shko tek Njesit", units_path) %></p>
<p><%= link_to("Shko tek Inventari", inventories_path) %></p>
<p><%= link_to("Shko tek Dhoma", rooms_path) %></p>
<p><%= link_to("Shko tek Kategoria", categories_path) %></p>