<p><b>Stock ID :</b> <%= @stock.id %></p>
<p><b>Njesia :</b> <%= @stock.unit_id %></p>
<p><b>Kategoria :</b> <%= @stock.category_id %></p>
<p><b>Numri Serik :</b> <%= @stock.serial_nr %></p>
<p><b>Emri i Produktit :</b> <%= @stock.product_name %></p>
<p><b>Data e Blerjes :</b> <%= @stock.buy_date %></p>
<p><b>Norma e Amortizimit :</b> <%= @stock.norma_amortizimit %></p>
<p><b>Amortizimi :</b> <%= @stock.amortizimi %></p>
<p><b>Vlera Neto :</b> <%= @stock.neto_value %></p>
<p><b>Ngjyra :</b> <%= @stock.color %></p>
<p><b>Sasia :</b> <%= @stock.quantity %></p>
<p><b>Komenti :</b> <%= @stock.comment %></p>
<p><%= link_to("Kthehu tek Indexi", :controller => "stocks", :action => "index") %></p>