<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h2><%= l(:historyHeader) %></h2>
		<div class = "tabs">
			<ul>
				<li><%= link_to(l(:goOverviews), overviews_path) %></li>
				<li><%= link_to(l(:goInventories), inventories_path) %></li>
				<% if User.current.admin == true %>
					<li><%= link_to(l(:goUnits), units_path) %></li>
					<li><%= link_to(l(:goCategories), categories_path) %></li>
					<li><%= link_to(l(:goRooms), rooms_path) %></li>
					<li><%= link_to(l(:goAmortNorms), amortnorms_path) %></li>
				<% end %>
				<li><%= link_to(l(:goHistories), histories_path, :onclick => "showTab('info', this.href); this.blur(); return false;", :id => "tab-info", :class => "selected") %></li>
			</ul>
			<div class = "tabs-buttons"></div>
		</div>
		<fieldset>
			<legend><%= l(:legend3) %></legend>
			<%= search_form_for @search, url: search_histories_path, method: :post do |f| %>
				<%= f.condition_fields do |c| %>
		    		<%= render "condition_fields", f: c %>
		  		<% end %>
		  		<div class = "actions" style = "float: left">
		  			<%= f.submit(l(:apply)) %>
		  		</div>
		  		<div style = "padding: 3px 15px;">
		  			<%= link_to l(:clear), histories_path, class: "icon icon-reload" %>
		  		</div>
			<% end %>
		</fieldset>
		<br>
		<div class = "autoscroll">
			<table class = "list">
				<thead>
					<tr>
						<th><%= link_to(l(:userName), user_path(User.current.id)) %></th>
						<th><%= l(:userLogin) %></th>
						<th><%= l(:roomName) %></th>
						<th><%= l(:productName) %></th>
						<th><%= l(:productColor) %></th>
						<th><%= l(:productId) %></th>
						<th><%= l(:serialNumber) %></th>
						<th><%= l(:buyDate) %></th>
						<th><%= l(:activationDate) %></th>
						<th><%= l(:amortizationNorm) %></th>
						<th><%= l(:amortization) %></th>
						<th><%= l(:netoValue) %></th>
						<th><%= l(:timeOfUse) %></th>
						<th><%= l(:comment) %></th>
						<th><%= l(:updatedAt) %></th>
					</tr>
				</thead>
				<tbody>
				<% if(User.current.admin == true) %>
					<% @histories.each do |history| %>
							<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
								<td>
									<% @users.each do |user| %>
										<% if(history.user_login == user.login) %>
											<%= link_to("#{history.user_name}", user_path(user.id)) %>
										<% end %>
									<% end %>
								</td>
								<td><%= history.user_login %></td>
								<td><%= history.room_name %></td>
								<td><%= history.product_name %></td>
								<td><%= history.color %></td>
								<td><%= history.product_id %></td>
								<td><%= history.serial_number %></td>
								<td><%= history.buy_date %></td>
								<td><%= history.activation_date %></td>
								<td><%= history.amortization_norm + " %" %></td>
								<td><%= history.amortization + " €" %></td>
								<td><%= history.neto_value + " €" %></td>
								<td><%= history.days.to_s + " " + l(:days) %></td>
								<td><%= history.comment %></td>
								<td><%= history.updated_at.to_date %></td>
							</tr>
							<%end%>
							</tbody>
						</table>
							<%= will_paginate @posts %>
						<% else %>
						<% @histories.each do |history| %>
							<% @users.each do |user| %>
								<tr class = "<%= cycle('user active odd', 'user active even') -%>">
									<% if(history.user_login == User.current.login) %>
										<td>
											<%= link_to("#{history.user_name}", user_path(User.current.id)) %>
										</td>
										<td><%= history.user_login %></td>
										<td><%= history.room_name %></td>
										<td><%= history.product_name %></td>
										<td><%= history.color %></td>
										<td><%= history.product_id %></td>
										<td><%= history.serial_number %></td>
										<td><%= history.buy_date %></td>
										<td><%= history.activation_date %></td>
										<td><%= history.amortization_norm + " %" %></td>
										<td><%= history.amortization + " €" %></td>
										<td><%= history.neto_value + " €" %></td>
										<td><%= history.days.to_s + " " + l(:days) %></td>
										<td><%= history.comment %></td>
										<td><%= history.updated_at.to_date %></td>
									<% end %>
									<% break %>
								</tr>
							<% end%>
						<% end %>
					<%end%>
				</tbody>
			</table>
			
		</div>
		<% content_for :header_tags do %>
    		<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
		<% end %>
	</body>
</html>