<style type="text/css">
	.splitcontentleft fieldset input {
		width: 90%;
	}
	.splitcontentleft fieldset select {
		width: 90%;
	}
	.splitcontentleft textarea {
		width: 90%;
		height: 70px;
	}
</style>
<h2><%= link_to(l(:amortnormHeader), amortnorms_path) + " " + l(:amortnormPathNew) %></h2>
<% if @amortnorm.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @amortnorm.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@amortnorm) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= l(:legend1) %></legend>
			<p>
				<%= f.label(l(:amortnormName)) %>
				<span class = "required">*</span>
				<%= f.text_field(:name) %>
				<em class = "info" style = "margin-left: 10px;"><%= l(:em2) %></em>
			</p>
		</fieldset>
		<fieldset class = "box tabular">
			<legend><%= l(:legend2) %></legend>
			<p>
				<%= f.label(l(:amortnormComment)) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
		<p><%= f.submit(l(:newSubmit)) %></p>
	<% end %>
<div>