<div class = "permbajtja">
	<table border = "1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Emri</th>
				<th>Komenti</th>
				<th>Operacionet</th>
			</tr>
		</thead>
		<tbody>
			<% @rooms.each do |room| %>
				<tr>
					<td><%= room.id %></td>
					<td><%= room.name %></td>
					<td><%= room.comment%></td>
					<td><%= button_to("Show", rooms_show_path(:id => room.id), :method => "get") %> <%= button_to("Edit", rooms_edit_path(:id => room.id), :method => "get") %> <%= button_to("Delete", rooms_destroy_path(:id => room.id), :method => :delete) %> </td>	
				</tr>
			<% end %>
		</tbody>
	</table>
	<p><%= button_to("Shto nje Rooom", rooms_new_path, :method => "get") %></p>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>