<style type="text/css">
	.splitcontentleft fieldset input {
		width: 90%;
	}
	.splitcontentleft fieldset select {
		width: 90%;
	}
	.splitcontentleft textarea {
		width: 90%;
		height: 70px;
	}
</style>
<h2><%= roomPathNew(session[:lan]) %></h2>
<% if @room.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @room.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@room) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= roomLegend(session[:lan]) %></legend>
			<p>
				<%= f.label(roomName(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.text_field(:name) %>
			</p>
			<p>
				<%= f.label(roomComment(session[:lan])) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
		<p><%= f.submit(roomNewSubmit(session[:lan])) %></p>
	<% end %>
<div>