<div class = "permbajtja">
	<style>
		ul li{
			color:red;
		}
	</style>
	<H1>Edito nje Unit</H1>
	<%= form_for(:unit, :url => {:action => "update", :id => @unit.id}) do |u| %>
		<% if @unit.errors.any? %> 
			<ul>
				<% @unit.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>
		<p><%= u.collection_select(:category_id, Category.all, :id, :name, :prompt => "Select Category") %></p>
		<p><%= u.text_field(:name, :placeholder => "Emri") %></p>
		<p><%= u.text_field(:quantity, :placeholder => "Quantity") %></p>
		<p><%= u.text_field(:color, :placeholder => "Color") %> </p>
		<p><%= u.text_field(:comment, :placeholder => "Komenti") %></p>
		<p><%= u.submit("Edito Produktin") %></p>
	<% end %>
<p><%= button_to("Kthehu tek Indeksi", units_path, :method => "get")%></p>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>