<div class = "contextual">
	<%= link_to(l(:addProduct), units_new_path, :class => "icon icon-add") %>
</div>
<h2><%= l(:productHeader) %></h2>
<div class = "tabs">
	<ul>
		<li><%= link_to(l(:goInventories), inventories_path) %></li>
		<li><%= link_to(l(:goUnits), units_path, :onclick => "showTab('info', this.href); this.blur(); return false;", :id => "tab-info", :class => "selected") %></li>
		<li><%= link_to(l(:goCategories), categories_path) %></li>
		<li><%= link_to(l(:goRooms), rooms_path) %></li>
		<li><%= link_to(l(:goAmortNorms), amortnorms_path) %></li>
		<li><%= link_to(l(:goHistories), histories_path) %></li>
	</ul>
</div>
<div class = "autoscroll">
	<table class = "list">
		<thead>
			<tr>
				<th>ID</th>
				<th><%= l(:productCategoryId) %></th>
				<th><%= l(:productName) %></th>
				<th><%= l(:productQuantity) %></th>
				<th><%= l(:productColor) %></th>
				<th><%= l(:productComment) %></th>
				<th>ProductID</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @units.each do |unit| %>
				<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
					<td><%= unit.id %></td>
					<td><%= unit.category_id %></td>
					<td><%= unit.name %></td>
					<td><%= unit.quantity %></td>
					<td><%= unit.color %></td>
					<td><%= unit.comment%></td>
					<td><%= unit.productid %></td>
					<td class = "buttons">
						<%= link_to(l(:edit), units_edit_path(:id => unit.id), :class => "icon icon-edit") %>
						<%= link_to(l(:delete), units_destroy_path(:id => unit.id), :method => :delete, :class => "icon icon-del", data: { confirm: l(:dataConfirm) }) %>
					</td>	
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>