<div style = "text-align: right; font-size: 0.9em;">
	<%= link_to "English", "#{units_path}?lan=en" %> |
	<%= link_to "Albanian", "#{units_path}?lan=al" %>
</div>
<div class = "contextual">
	<%= link_to(addProduct(session[:lan]), units_new_path, :class => "icon icon-add") %>
</div>
<h2><%= productHeader(session[:lan]) %></h2>
<div class = "tabs">
	<ul>
		<li><%= link_to(goInventories(session[:lan]), inventories_path) %></li>
		<li><%= link_to(goUnits(session[:lan]), units_path, :onclick => "showTab('info', this.href); this.blur(); return false;", :id => "tab-info", :class => "selected") %></li>
		<li><%= link_to(goCategories(session[:lan]), categories_path) %></li>
		<li><%= link_to(goRooms(session[:lan]), rooms_path) %></li>
		<li><%= link_to(goAmortNorms(session[:lan]), amortnorms_path) %></li>
		<li><%= link_to(goHistories(session[:lan]), histories_path) %></li>
	</ul>
</div>
<div class = "autoscroll">
	<table class = "list">
		<thead>
			<tr>
				<th>ID</th>
				<th><%= productCategoryId(session[:lan]) %></th>
				<th><%= productName(session[:lan]) %></th>
				<th><%= productQuantity(session[:lan]) %></th>
				<th><%= productColor(session[:lan]) %></th>
				<th><%= productComment(session[:lan]) %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @units.each do |unit| %>
				<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
					<td><%= unit.id %></td>
					<td><%= unit.category_id %></td>
					<td><%= unit.name %></td>
					<td><%= unit.quantity %></td>
					<td><%= unit.color %></td>
					<td><%= unit.comment%></td>
					<td class = "buttons">
						<%= link_to(editProduct(session[:lan]), units_edit_path(:id => unit.id), :class => "icon icon-edit") %>
						<%= link_to(deleteProduct(session[:lan]), units_destroy_path(:id => unit.id), :method => :delete, :class => "icon icon-del", data: dataConfirm(session[:lan])) %>
					</td>	
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>