<div class ="permbajtja">
<h2>Njesite e Inventarit</h2>

<table border = "1">
	<thead>
		<tr>
			<th>ID</th>
			<th>Kategoria</th>
			<th>Emri</th>
			<th>Sasia</th>
			<th>Ngjyra</th>
			<th>Komenti</th>
			<th>Operacionet</th>
		</tr>
	</thead>

	<tbody>
		<% @units.each do |unit| %>
			<tr>
					<td><%= unit.id %></td>
					<td><% @categories.each do |c| %>
						<% if unit.category_id == c.id %>
							<%= c.name %>
						<%end%>
					<%end%>
					</td>
					<td><%= unit.name %></td>
					<td><%= unit.quantity %></td>
					<td><%= unit.color %></td>
					<td><%= unit.comment %></td>
					<td><%= button_to("Show", units_show_path(:id => unit.id), :method => "get") %> <%= button_to("Edit", units_edit_path(:id => unit.id), :method => "get")%> <%= button_to("Delete", units_destroy_path(:id => unit.id), :method => :delete) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<ul>
<li><%= button_to("Shto Unit", units_new_path, :method => "get") %></li>
<li><%= button_to("Kthehu tek Inventari", inventories_path, :method => "get") %></li>
</ul>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>