<table border = "1">
	
	<thead>
		<tr>
			<th>ID</th>
			<th>Emri</th>
			<th>Komenti</th>
			<th>Operacionet</th>
		</tr>
	</thead>

	<tbody>
		<% @units.each do |unit| %>
			<tr>
					<td><%= unit.id %></td>
					<td><%= unit.name %></td>
					<td><%= unit.comment%></td>
					<td><%= link_to("Show", "/units/#{unit.id}") %> | <%= link_to("Edit", "/units/#{unit.id}/edit")%> | <%= link_to("Delete", "units/#{unit.id}/destroy", :method => :delete) %></td>
			</tr>
		<% end %>

	</tbody>
</table>
<p><%= link_to("Shto Unit", :controller => "units", :action => "new") %></p>