<% require 'securerandom' %>
<style type="text/css">
	.splitcontentleft fieldset input {
		width: 90%;
	}
	.splitcontentleft fieldset select {
		width: 90%;
	}
	.splitcontentleft textarea {
		width: 90%;
		height: 70px;
	}
</style>
<h2><%= link_to(l(:productHeader), units_path) + " " + l(:productPathNew) %></h2>
<% if @unit.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @unit.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@unit) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= l(:legend1) %></legend>
			<p>
				<%= f.label(l(:productCategoryId)) %>
				<span class = "required">*</span>
				<%= f.collection_select(:category_id, Category.all, :id, :name, :prompt => true)%>
			</p>
			<p>
				<%= f.label(l(:productName)) %>
				<span class = "required">*</span>
				<%= f.text_field(:name) %>
			</p>
		</fieldset>
		<fieldset class = "box tabular">
			<legend><%= l(:legend2) %></legend>
			<p>
				<%= f.label(l(:productQuantity)) %>
				<%= f.text_field(:quantity) %>
			</p>
			<p>
				<%= f.label(l(:productColor)) %>
				<%= f.text_field(:color) %>
			</p>
			<p>
				<%= f.label(l(:productComment)) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
		<p><%= f.submit(l(:newSubmit)) %></p>
	<% end %>
<div>