<div class = "permbajtja">
	<p><b>ID :</b><%= @unit.id%></p>
	<p><b>Kategoria :</b><%= @unit.category.name %></p>
	<p><b>Emri :</b><%= @unit.name %></p>
	<p><b>Sasia :</b><%= @unit.quantity %></p>
	<p><b>Ngjyra :</b><%= @unit.color %></p>
	<p><b>Komenti :</b><%= @unit.comment %></p>

<p><%= button_to("Kthehu tek Indexi", units_path, :method => "get") %></p>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>