<style type="text/css">
	.splitcontentleft fieldset input {
		width: 90%;
	}
	.splitcontentleft fieldset select {
		width: 90%;
	}
	.splitcontentleft textarea {
		width: 90%;
		height: 70px;
	}
</style>
<h2><%= categoryPathEdit(session[:lan]) %></h2>
<% if @category.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @category.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(:category, :url => {:action => "update", :id => @category.id}) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= categoryLegend(session[:lan]) %></legend>
			<p>
				<%= f.label(categoryName(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.text_field(:name) %>
			</p>
			<p>
				<%= f.label(categoryComment(session[:lan])) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
		<p><%= f.submit(categoryEditSubmit(session[:lan])) %></p>
	<% end %>
<div>