<div class ="permbajtja">
<h2>Kategorite e Inventarit</h2>
<table border ="1">
  <thead>
  	<tr>
  		<th>Kategori ID</th>
  		<th>Kategoria</th>
  		<th>Komenti</th>
  		<th>Ndryshimet</th>
  		</tr>
	
  </thead>
  	<tbody>
  		
  	<% @categories.each do |categories| %>
  		<tr>
  			<td><%= categories.id %></td>
  			<td><%= categories.name%></td>
  			<td><%= categories.comment %></td>
  			<td><%= button_to("Show", categories_show_path(:id => categories.id), :method => "get") %> <%= button_to("Edit", categories_edit_path(:id => categories.id), :method => "get") %> <%= button_to("Delete", categories_destroy_path(:id => categories.id), :method => :delete) %></td>
  			</tr>
  			<%end%>


  	</tbody>

</table>
<ul>
<li><%= button_to("Shto Kategori", categories_new_path, :method => "get") %></li>
<li><%= button_to("Kthehu tek Inventari", inventories_path, :method => "get") %></li>
</ul>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>