<div class = "contextual">
	<%= link_to(addCategory(session[:lan]), categories_new_path, :class => "icon icon-add") %>
</div>
<h2><%= categoryHeader(session[:lan]) %></h2>
<div class = "autoscroll">
	<table class = "list">
		<thead>
			<tr>
				<th>ID</th>
				<th><%= categoryName(session[:lan]) %></th>
				<th><%= categoryComment(session[:lan]) %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @categories.each do |category| %>
				<tr class = "<%= cycle('user active odd', 'user active even') -%> user">
					<td><%= category.id %></td>
					<td><%= category.name %></td>
					<td><%= category.comment %></td>
					<td class = "buttons">
						<%= link_to(editCategory(session[:lan]), categories_edit_path(:id => category.id), :class => "icon icon-edit") %>
						<%= link_to(deleteCategory(session[:lan]), categories_destroy_path(:id => category.id), :method => :delete, :class => "icon icon-del", data: dataConfirm(session[:lan])) %>
					</td>	
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>