<h2><%= categoryPathNew(session[:lan]) %></h2>
<% if @category.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @category.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@category) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= categoryLegend(session[:lan]) %></legend>
			<p>
				<%= f.label(categoryName(session[:lan])) %>
				<span class = "required">*</span>
				<%= f.text_field(:name) %>
			</p>
			<p>
				<%= f.label(categoryComment(session[:lan])) %>
				<%= f.text_area(:comment) %>
			</p>
		</fieldset>
		<p><%= f.submit(categoryNewSubmit(session[:lan])) %></p>
	<% end %>
<div>