<h2><%= link_to("Kategoria", categories_path) %>  » Shto Kategori</h2>
<% if @category.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @category.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@category) do |c| %>
		<fieldset class = "box tabular">
			<legend>Te dhenat</legend>
			<p>
				<%= c.label(:name)%>
				<span class = "required">*</span>
				<%= c.text_field(:name) %>
			</p>
			<p>
				<%= c.label(:comment) %>
				<%= c.text_area(:comment) %>
			</p>
		</fieldset>
		<%= c.submit("Krijo")%>
	<%end%>
</div>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'style', :plugin => 'regjistrimi_inventarit' %>
<% end %>