<style type = "text/css">
	.splitcontentleft fieldset input {
		width: 90%;
	}
	.splitcontentleft fieldset select {
		width: 90%;
	}
	.splitcontentleft textarea {
		width: 90%;
		height: 70px;
	}
</style>
<h2><%= link_to(l(:locationHeader), locations_path) + " " + l(:locationPathNew) %></h2>
<% if @location.errors.any? %>
	<div id = "errorExplanation">
		<ul>
			<% @location.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class = "splitcontentleft">
	<%= form_for(@location) do |f| %>
		<fieldset class = "box tabular">
			<legend><%= l(:legend1) %></legend>
			<p>
				<%= f.label(l(:locationName)) %>
				<span class = "required">*</span>
				<%= f.text_field(:name) %>
			</p>
			<p>
				<%= f.label("Prefix") %>
				<span class = "required">*</span>
				<%= f.text_field(:prefix) %>
			</p>
		</fieldset>
		<fieldset class = "box tabular">
			<legend><%= l(:legend2) %></legend>
			<p>
				<%= f.label(l(:locationDescription)) %>
				<%= f.text_area(:description) %>
			</p>
		</fieldset>
		<p><%= f.submit(l(:locationCreate))%></p>
	<% end %>
<div>